.cardWrapper {
    width: 300px;
    background-color: rgba(207, 214, 232, 0.71);
}

.header {
    color: #22325F;
    font-size: 22px;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
}

.services {
    text-align: left;
    padding: 0.5rem 1rem 1rem;
}

@media (max-width: 1000px) {
    .cardWrapper {
        max-width: 450px;
        width: 100%;
    }
    .serviceImage {
        width: 100%;
        height: min-content;
    }
}