.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
}


@media (max-width: 420px) {
    .feedbackWrapper {
        padding: 1rem;
    }

    .rightColumn {
        gap: 1rem;
    }
}