.logoWrapper {
    display: grid;
    grid-template-areas:
    "logo nameWrapper"
    "logo  nameWrapper"
    "description  description";
    height: min-content;
}

.logo {
    grid-area: logo;
    margin-left: -12px;
    margin-top: -5px;
}

.nameWrapper {
    grid-area: nameWrapper;
    font-family: georgia, palatino, book antiqua, palatino linotype, serif;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0 4px 5px;
    letter-spacing: 0.1em;
    color: var(--primary-logo-color);
    line-height: 1.2em;
}

.description {
    grid-area: description;
    font-size: 12px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 4px 5px;
    letter-spacing: 0.08em;
    color: rgb(98, 100, 98);
}